<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>观察者模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACDDE7BD1E4EF97E00A2AE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDE7D61E4EF97E00A2AE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDE7E11E4EF97F00A2AE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
