<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>装饰模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC5939731E437A7300E1EDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC59398C1E437A7300E1EDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5939971E437A7300E1EDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
